*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}

#navbar{
    background-color:#2c3e50;
    padding: 30px 5rem;
    width: 100%;
    overflow: auto;
    position: fixed;
}
#navbar .left {
    float: left;
    width: 30%;
}
#navbar .left a{
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}
#navbar .right {
    width: 70%;
    float: right;
    text-align: right;
    margin-top: 10px;
}
#navbar .right a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}
#start{
    background-color:#1abc9c;
    padding: 20px 5rem;
    text-align: center;
    overflow: auto;
    height: 100vh;
}
#start .start-photo{
    padding-top: 120px;
}
#start .start-text h1{
    font-size: 64px;
    color: #fff;
    margin-top: 15px;
}
#start .star {
    width: 100%;
    padding: 40px;
    overflow: auto;
}
#start .star .left{
    margin-top: 50px;
    width: 10%;
    float: left;
    margin-left: 445px;
    height: 5px;
    background-color: #fff;
    border: 0px ;
}
#start .star .right{
    margin-top: 50px;
    width: 10%;
    float: right;
    margin-right: 445px;
    height: 5px;
    background-color: #fff;
    border: 0px ;
}
#start .star svg{
    width: 30px;
    color: #fff;
    margin-top: 35px;
}
#start p{
    margin-top: 40px;
    font-size: 24px;
    color: #fff;
}
#portfolio{
    padding: 50px 4rem;
    width: 100%;
    overflow: auto;
    text-align: center;
}
#portfolio .portfolio-photos .box{
    width: calc(100%/3);
    float: left;
    padding: 20px;
}
#portfolio .portfolio-photos .box img{
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}
#portfolio .portfolio-photos .box:hover img{
    background-color: rgba(26, 188, 156, 0.9);
}
#portfolio .portfolio-text h1{
    color: #2c3e50;
    font-size: 48px;
}
#portfolio .star .left{
    margin-top: 50px;
    width: 10%;
    float: left;
    margin-left: 490px;
    height: 5px;
    background-color: #212529;
    border: 0px ;
    margin-bottom: 20px;
}
#portfolio .star .right{
    margin-top: 50px;
    width: 10%;
    float: right;
    margin-right: 490px;
    height: 5px;
    background-color: #212529;
    border: 0px ;
    margin-bottom: 20px;
}
#portfolio .star svg{
    width: 30px;
    margin-top: 35px;
}
#about{
    padding: 70px 5rem;
    background-color: #1abc9c;
    width: 100%;
    overflow: auto;
    text-align: center;
}
#about .about-text h2{
    font-size: 48px;
    color: #fff;
}
#about .about-text .left{
    margin-top: 50px;
    width: 10%;
    float: left;
    margin-left: 480px;
    height: 5px;
    background-color: #fff;
    border: 0px ;
    margin-bottom: 20px;
}
#about .about-text .right{
    margin-top: 50px;
    width: 10%;
    float: right;
    margin-right: 480px;
    height: 5px;
    background-color: #fff;
    border: 0px ;
    margin-bottom: 20px;
}
#about .about-text span{
    color: #fff;
}
#about .star svg{
    width: 30px;
    margin-top: 35px;
}
#about .about-paragraph{
    font-size: 20px;
    color: #fff;
    width: 100%;
    overflow: auto;
    margin-bottom: 25px;
}
#about .about-paragraph .p1 p{
    width:25%;
    float: left;
    margin-bottom: 16px;
    margin-left: 20rem;
    text-align: left;
}
#about .about-paragraph .p2 p{
    width: 25%;
    float: right;
    margin-bottom: 16px;
    padding-left: 10px;
    margin-right: 18rem;
    text-align: left;
}
#about .button a{
    color: #fff;
    border:1px solid #fff ;
    padding: 15px 40px;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s;
}
#about .button a:hover{
    background-color: #fff;
    color: #000;
}
#contact{
    padding: 50px 5rem;
    width: 100%;
    text-align: center;
    overflow: auto;
}
#contact .contact-text h2{
    font-size: 48px;
    color: #2c3e50;
}
#contact .contact-text .left{
    margin-top: 50px;
    width: 10%;
    float: left;
    margin-left: 480px;
    height: 5px;
    background-color: #212529;
    border: 0px ;
    margin-bottom: 20px;
}
#contact .contact-text .right{
    margin-top: 50px;
    width: 10%;
    float: right;
    margin-right: 480px;
    height: 5px;
    background-color: #212529;
    border: 0px ;
    margin-bottom: 20px;
}
#contact .star svg{
    width: 30px;
    margin-top: 35px;
}
#contact .input-boxes {
    width: 60%;
    margin-left: 9rem;
}
.input-boxes input{
    width: 100%;
    margin-left: 7rem;
    padding: 24px 48px 24px 0;
    margin-bottom: 20px;
    font-size: 24px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}
.input-boxes textarea{
    border:0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
    width: 100%;
    margin-left: 7rem;
    padding: 24px 48px 24px 0;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.541);
    margin-bottom: 20px;
}
.input-boxes button{
    color: #fff;
    background-color: #1abc9c8a;
    padding: 22px 32px;
    border: 0;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    margin-right: 27rem;
    cursor: pointer;
}
textarea:focus,input:focus{
    outline: none;
    font-size: 15px;
}
#footer{
    padding:4rem 5rem;
    background-color: #2c3e50;
    width: 100%;
    overflow: auto;
}
#footer .footer-text{
    text-align: center; 
}
#footer .left{
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 50px;
    padding-left: 9rem;
}
#footer .left .top-left h4{
    color: #fff;
    font-size: 24px;
    margin: 0 0 24px;
}
#footer .left .bottom-left p{
    color: #fff;
    font-size: 20px;
}
#footer .center .top-center{
    text-align: center;
    margin-right: 25rem;
    overflow: auto;
    width: 33%;
}
#footer .center .top-center h4{
    color: #fff;
    font-size: 24px;
    margin: 0 0 24px;
    margin-top: 40px;
    overflow: auto;
    padding-left: 10px;
}
#footer .right{
    float: right;
    width: 33%;
    text-align: center;
    margin-top: -55px;
}
#footer .right .top-right h4{
    color: #fff;
    font-size: 24px;
    margin: 0 0 24px;
}
#footer .right .bottom-right p{
    color: #fff;
    font-size: 20px;
}
#footer .right .bottom-right a{
    text-decoration: underline;
    color: #1abc9c;
}
#copyright{
    padding: 20px 5rem;
    background-color: #1a252f;
    color: #fff;
    text-align: center;
    font-size: 14px;
}